exclude LICENSE README.md CONTRIBUTING.md CODE_OF_CONDUCT.md CHANGELOG.rst NOTICES HISTORY.txt pyproject.toml
exclude .editorconfig .travis.yml .env appveyor.yml tox.ini pytest.ini
exclude .gitmodules
exclude src
exclude examples

recursive-include pybgfx *.pcm *.rootmap *.map
recursive-include pybgfx *.sh
recursive-include pybgfx/utils *.py
recursive-include docs Makefile *.rst *.py *.bat
recursive-include docs/_templates *.html
recursive-include docs/_static *.js *.css *.png
recursive-exclude docs requirements*.txt
recursive-exclude pybgfx *.pyi
recursive-exclude pybgfx *.typed

prune .github
prune docs/build
prune tests
prune dependencies
prune scripts
prune _skbuild